* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

/* Portrait layout (default) */
.app {
  /*background:url(../img/logo.png) no-repeat center top; !* 170px x 200px *!*/
  position: absolute; /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px; /* text area height */
  width: 225px; /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
  .listening {
    background-color: #333333;
    display: block;
  }
  .received {
    background-color: #4B946A;
    display: none;
  }
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

.block-main {
  position: absolute;
  left: 30%;
  top: 20%;
  h1 {
    text-align: center;
  }
}

#logo {
  width: 85%;
  height: 90px;
  margin-left: 10%;
}

#main {
  button {
    left: 25%;
    width: 150px;
    height: 50px;
    margin-top: 5%;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px helveticaNeue-light;

    background: rgba(204, 0, 51, 0.2);
    background: -moz-linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4d4d), color-stop(100%, #ff0000));
    background: -webkit-linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    background: -o-linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    background: -ms-linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    background: linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    color: #800000;

    text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  }
}

.connection-btn, .compte-btn {
  button {
    width: 150px;
    height: 30px;
    background: -webkit-linear-gradient(top, #ff4d4d 0%, #ff0000 100%);
    color: #800000;
    font: bold 12px/25px helveticaNeue-light;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  }
}

.connection-nom, .connection-pass {
  input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

.compte-titre {
  font-family: HelveticaNeue-Light;
  font-size: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, red, orange, green, blue, violet);
}

.compte-nom, .compte-points, .compte-quetes, .compte-age {
  color: #6e0058;
}

