<section class="panel panel-padding">
    <h3>Règles du jeu:</h3>
    <ul>
        <li>Chaque compte est limité à un personnage.</li>
        <li>Si le personnage descend à 0 points de faim, ses points de santé descendent de 10 points par heure.</li>
        <li>Si le personnage descend à 0 points de santé, il meurt.
            Il faut alors utiliser la moitié de ses points d'ADN pour le faire revivre (+100 points de santé et +100
            points de
            faim).
        </li>
        <li>Si le personnage reste au dessus de 70 points d'humeur pendant 24 heures, il gagne 100 points d'ADN.</li>
    </ul>

    <h3>ADN:</h3>
    <ul>
        <li>Le joueur demarre avec 20 points d'ADN.</li>
        <li>0 à infini.</li>
        <li>Le joueur gagne 1 point d'ADN toutes les 30 minutes.</li>
    </ul>

    <h3>Santé:</h3>
    <ul>
        <li>100 points maximum.</li>
    </ul>

    <h3>Faim:</h3>
    <ul>
        <li>100 points maximum.</li>
        <li>Baisse de 2 point par heure.</li>
    </ul>

    <h3>Humeur:</h3>
    <ul>
        <li>100 points maximum (25% santé , 25% faim, 50% activité...).</li>
    </ul>

    <h3>Niveau du personnage:</h3>
    <ul>
        <li>Le personnage commence au niveau 1.</li>
        <li>Le niveau maximum est le niveau 100.</li>
        <li>Le personnage évolue une premiere fois au niveau 20 et une seconde fois au niveau 50.</li>
        <li>Pour faire monter son personnage de niveau, il faut utiliser de l'ADN (de maniere exponentielle, à
            définir).
        </li>
    </ul>

    <h3>Activité:</h3>
    <ul>
        <li>à définir.</li>
    </ul>
</section>