<section class="panel pannel-padding" ng-controller="HomeController">
    <button ng-hide="panel === 0" ng-click="changePanel(0)">Back</button>
    <div class="loader" ng-show="loader === true">
        <div class="loader-circle"></div>
    </div>
    <section class="panel" ng-class="{center :panel === 0, right : panel < 0, left : panel > 0}">
        <img class="character-icon" src="img/tamago{{ state }}.png" alt="" align="middle">
        <div class="character-stats"
             style="text-align:center;padding-top: 5%;display:flex;justify-content: space-around;">
            <div>
                {{ tamago.name }}
            </div>
            <div>
                <div>Health {{ tamago.health }}</div>
                <div>ADN 0</div>
            </div>
            <div>
                <div>Hunger {{ tamago.hunger }}</div>
                <div>Mood {{ tamago.mood }}</div>
            </div>
        </div>
        <div class="character-img" style="text-align:center;height:auto;">
            <!--<img src="../img/img.jpg">-->
            <div>Level {{ tamago.level }}</div>
        </div>
        <div class="character-btns">
            <div style="text-align:center;padding-top: 5%;display:flex;justify-content: space-around;">
                <button ng-click="changePanel(-1); getItems()">Feed</button>
                <button ng-click="changePanel(1)">Activities</button>
            </div>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === -1, right : panel < -1, left : panel > -1}">
        <div class="food-title">
            <h3>Nourrir</h3>
        </div>
        <div class="food-stats">
            <div>Faim {{ tamago.hunger }}/100</div>
        </div>
        <div class="nourrir-ligne" ng-repeat="item in items" ng-if="item.type === 'food'">
            <div style="display:block;width:20%;">
                <img class="food-icon" ng-click="feed(item)" ng-src="img/{{ item.name }}.png" alt="">
                <!--<span class="nourrir-ligne-nom">{{ item.name }}</span>-->
                <!--<span class="nourrir-ligne-item">7</span>-->
                <!--<div class="nourrir-ligne-img" style="background-image:url(../img/cerise.png)"></div>-->
                <span class="nourrir-ligne-attr"><span ng-show="item.hunger > 0">+</span>{{ item.hunger }}</span>
            </div>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === 1, right : panel < 1, left : panel > 1}">
        Activities
    </section>
</section>
