<section class="panel pannel-padding" ng-controller="MainController">
    <button ng-hide="panel === 0" ng-click="changePanel(0)">Back</button>
    <section class="panel" ng-class="{center :panel === 0, right : panel < 0, left : panel > 0}">
        <div ng-show="connected === 0" id="main">
            <img id="logo" src="./img/tamago.png" alt="logo"/>
            <button ng-click="changePanel(1)">Sign in</button>
            <br/>
            <button ng-click="changePanel(-1)">Sign up</button>
        </div>
        <div ng-show="connected === 1" id="account">
            <div class="compte-titre">
                <h3>My account</h3>
            </div>
            <div class="compte-nom">
                <h4>Name:</h4>
                <div>{{ tamagos[0].name }}</div>
            </div>
            <div class="compte-points">
                <h4>Tamago points:</h4>
                <div>10</div>
            </div>
            <div class="compte-quetes">
                <h4>Quests:</h4>
                <div>3</div>
            </div>
            <div class="compte-age">
                <h4>Age:</h4>
                <div>{{ tamagos[0].age }}</div>
            </div>
            <div class="compte-btn">
                <button>Tamago</button>
                <button>Ranking</button>
            </div>

            <div class="create-tamago" ng-show="tamagos.length == 0">
                <div class="create-title">
                    <h3>Create your Tamago</h3>
                </div>
                <div class="create-nom">
                    <label>Name :</label>
                    <input ng-model="name" type="text">
                </div>
                <div class="create-btn">
                    <button ng-click="createTamago()">Create</button>
                </div>
            </div>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === -1, right : panel < -1, left : panel > -1}">
        <div class="connection-title">
            <h3>Sign up</h3>
        </div>
        <div class="connection-nom">
            <label>Name :</label>
            <input type="text">
        </div>
        <div class="connection-pass">
            <label>Password :</label>
            <input type="text">
        </div>
        <div class="connection-btn">
            <button type="button">Sign up</button>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === 1, right : panel < 1, left : panel > 1}">
        <section class="panel">
            <div class="connection-title">
                <h3>Sign in</h3>
            </div>
            <div class="connection-nom">
                <label>Name :</label>
                <input type="text">
            </div>
            <br/>
            <div class="connection-pass">
                <label>Password :</label>
                <input type="text">
            </div>
            <div class="connection-btn">
                <button ng-click="changePanel(0); connect()">Sign in</button>
            </div>
        </section>
    </section>
</section>
