<section class="panel pannel-padding" ng-controller="MainController">
    <button ng-hide="panel === 0" ng-click="changePanel(0)">Retour</button>
    <section class="panel" ng-class="{center :panel === 0, right : panel < 0, left : panel > 0}">
        <div id="main">
            <button ng-click="changePanel(-1)">Se Connecter</button>
            <br/>
            <button ng-click="changePanel(1)">S'incrire</button>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === -1, right : panel < -1, left : panel > -1}">
        <div class="connection-title">
            <h3>Inscrivez vous</h3>
        </div>
        <div class="connection-nom">
            <label>Nom :</label>
            <input type="text">
        </div>
        <div class="connection-pass">
            <label>Mot de passe :</label>
            <input type="text">
        </div>
        <div class="connection-btn">
            <button type="button">S'inscrire</button>
        </div>
    </section>
    <section class="panel" ng-class="{center :panel === 1, right : panel < 1, left : panel > 1}">
        <section class="panel">
            <div class="connection-title">
                <h3>Connectez vous</h3>
            </div>
            <div class="connection-nom">
                <label>Nom :</label>
                <input type="text">
            </div>
            <div class="connection-pass">
                <label>Mot de passe :</label>
                <input type="text">
            </div>
            <div class="connection-btn">
                <button type="button">Se connecter</button>
            </div>
        </section>
    </section>
</section>
