*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000f30;
  color: #FFF;
}

.loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i {
  display: inline-block;
}

h1 {
  font-size: 28px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  margin: 45px 0;
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background-color: #3071ff;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #0037b0;
  overflow: hidden;
  *zoom: 1;
}
.nav a {
  font-size: 30px;
  color: #FFF;
  display: block;
  width: 33%;
  height: 60px;
  line-height: 60px;
  float: left;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-right: 1px solid #1f253d;
}
.nav a :visited {
  color: #FFF;
}
.nav a:last-child {
  border-right: 0px solid #1f253d;
}
.nav .active {
  border-top: 3px solid #6394ff;
}
.nav i {
  margin-top: 15px;
}

.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  color: #000;
}

.panel {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.panel-padding {
  padding: 0 25px;
}

.left {
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -webkit-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

.center {
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.right {
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -webkit-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

.connection-title {
  text-align: center;
  height: 40%;
}

.connection-nom {
  display: flex;
  height: 10%;
}
.connection-nom label {
  width: 50%;
  margin-left: 10px;
}
.connection-nom input {
  height: 20px;
  width: 50%;
  float: right;
  margin-right: 10px;
}

.connection-pass {
  display: flex;
  height: 20%;
}
.connection-pass label {
  width: 50%;
  margin-left: 10px;
}
.connection-pass input {
  height: 20px;
  width: 50%;
  float: right;
  margin-right: 10px;
}

.connection-btn {
  text-align: center;
}

.create-title {
  text-align: center;
  height: 40%;
}

.create-nom {
  display: flex;
  height: 30%;
}
.create-nom label {
  width: 50%;
  margin-left: 10px;
}
.create-nom input {
  height: 20px;
  width: 50%;
  float: right;
  margin-right: 10px;
}

.create-btn {
  text-align: center;
  height: 30%;
}

.personnage-stats {
  height: 25%;
}

.personnage-img {
  height: auto;
  text-align: center;
}

.personnage-btns {
  height: 30%;
}

.personnage-stats-one {
  text-align: center;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.personnage-stats-two {
  text-align: center;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.personnage-btns-one {
  text-align: center;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.compte-titre {
  text-align: center;
  height: 20%;
}

.compte-nom {
  display: flex;
  justify-content: space-around;
  height: 15%;
}
.compte-nom h4 {
  margin: 0px;
}

.compte-points {
  display: flex;
  justify-content: space-around;
  height: 15%;
}
.compte-points h4 {
  margin: 0px;
}

.compte-quetes {
  display: flex;
  justify-content: space-around;
  height: 15%;
}
.compte-quetes h4 {
  margin: 0px;
}

.compte-age {
  display: flex;
  justify-content: space-around;
  height: 15%;
}
.compte-age h4 {
  margin: 0px;
}

.compte-btn {
  text-align: center;
  height: 20%;
}

.nourrir-stats {
  text-align: center;
  height: 10%;
}

.nourrir-titre {
  text-align: center;
}

.nourrir-ligne {
  display: flex;
  justify-content: space-around;
  height: 10%;
  margin-bottom: 15%;
}
.nourrir-ligne .nourrir-ligne-img {
  width: 100%;
  /*or 70%, or what you want*/
  height: 100%;
  /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nourrir-ligne .nourrir-ligne-item {
  width: 100%;
  height: 10px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.nourrir-ligne .nourrir-ligne-attr {
  width: 100%;
  height: 20px;
  text-align: center;
  display: block;
}
